<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<header>
		<div class="parent">
			<div class="d1">
			<h1 class="h1">Simple</h1>
			<h4 class="h4">Lorem ipsum dolor</h4>
		</div>
		<div>
			<ul class="ul1">
				<li class="li1"><a href="#">Home</a></li>
				<li class="li1"><a href="#">Services</a></li>
				<li class="li1"><a href="#">Gallery</a></li>
				<li class="li1"><a href="#">Company</a></li>
				<li class="li1" style="border: none !important;"><a href="#">Contact</a></li>
		</ul>
		</div>
		</div>
		
	</header>
	<main>
		<hr class="hr1">
		<div class="parent1">
			<div class="d2">
		<img src="img.jpeg" class="img1">
	</div>
	<div class="d3">
		<p class="p1" >Lorem ipsum dolor sit amet, <br>consectetur adipisicing elit</p> <br>
		<p class="p2"> sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<button class="btn">Read more</button>
	</div>
</div>
	</main>
	<div class="parent3">
		<div class="parent6">
		<h1>Welcome to our WEBSITE!</h1>
		<br>
		<hr width="600px">
		<br>
		<p class="p4"> <strong> This is a prfessional HTML/CSS layout provded by <a href="#" class="href">Template4o.com</a> for free of charge.<br>You can use this template for any purpose.Credit goes to <a href="#" class="href">Free Photos</a>for photos</strong></p>
		<br>
		<p class="p3">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.</p>
		<div><br>
		 <ul class="ul2">
			<li> Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat.</li>
			<li> Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. </li>
		</ul> 
		<div class="parent2">
			<div>
		<div class="vl"></div>

	</div>
	<div>
		<p class="p5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore,incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,.</p>
	</div>
	</div>
	</div>
	</div>
	<div class="parent5">
		<div class="d4">
			<h2 style="color: white;padding-top: 10px" >Latest News</h2>
		</div>
		<div class="d5">
			<div>
			<div class="parent4">
				<div>
				<img src="fl1.jpg" width="120px" height="100px" class="img2">
				
			</div>
			<div class="d6">
				<p>OCT 29,2024</p>
				<p><strong>Lorem ipsum dolor sit</strong></p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,Ut enim ad minim veniam.
		</p>
	</div>
			</div>
			<div class="parent4">
				<div>
				<img src="fl2.jpg" width="120px" height="100px" class="img2">
			</div>
			<div class="d6">
				<p>OCT 28,2024</p>
				<p><strong>Consectetur adipisicing elit</strong></p>
				<p>Ut enim ad minim veniam,
		quis nostrud,Ut enim ad minim veniam,
		quis nostrud</p>
	</div>
			</div>
			<div class="parent4">
				<div>
				<img src="fl3.jpg" width="120px" height="100px"  class="img2" >
			</div>
			<div class="d6">
				<p>OCT 27,2024</p>
				<p><strong>Sed do eiusmod
		tempor incididunt ut </strong></p>
				<p>Duis aute irure dolor in reprehenderit in voluptate velit esse enim ad minim.
			</p>

		</div>
			</div>
			
		</div>
	</div>
	</div>
</div>
<br>
<hr class="hr2">
<footer>

	<div class="d7">
		<ul class="ul3">
			<h3 class="h5" style="color: white">Services</h3>
			<li class="li3">Lorem ipsu dolor</li>
			<li class="li3">Velit esse</li>
			<li class="li3">Ed minim</li>
			<li class="li3">Eiusmod</li>
			<li class="li3">Tempor</li>
		</ul>
	</div>
	<div>
		<ul class="ul3">
			<h3 class="h5" style="color: white">About</h3>
			<li class="li3">Lorem ipsu dolor</li>
			<li class="li3">Velit esse</li>
			<li class="li3">Ed minim</li>
			<li class="li3">Eiusmod</li>
			<li class="li3">Tempor</li>
		</ul>
	</div>
	<div>
		<ul class="ul3">
			<h3 class="h5" style="color: white">Cool Links</h3>
			<li class="li3">Lorem ipsu dolor</li>
			<li class="li3">Velit esse</li>
			<li class="li3">Ed minim</li>
			<li class="li3">Eiusmod</li>
			<li class="li3">Tempor</li>
		</ul>
	</div>
	<div>
		<ul class="ul3">
			<h3 class="h5" style="color: white">Contact</h3>
			<li class="li3">Lorem ipsu dolor</li>
			<li class="li3">Velit esse</li>
			<li class="li3">Ed minim</li>
			<li class="li3">Eiusmod</li>
			<li class="li3">Tempor</li>
		</ul>
	</div>
	<div class="d8">
		<ul class="ul3">
			<h3 class="h5" style="color: white">Partners</h3>
			<li class="li3">Lorem ipsu dolor</li>
			<li class="li3">Velit esse</li>
			<li class="li3">Ed minim</li>
			<li class="li3">Eiusmod</li>
			<li class="li3">Tempor</li>
		</ul>
	</div>
</footer>

</body>
</html>