*{
	margin: 0;
	padding:0;
	list-style-type: none;
	outline: none;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 100px;
	background-color: #1D2120;
	
}
.h1{
	color: white;
	font-family: 'Libre Bodoni', serif;
	font-weight: 10;
}
.h4{
	color: white;
	font-family: 'Libre Bodoni', serif;
	font-weight: 10;
}
.ul1{
	/*width: 45%;*/
	justify-content: center;
	display: flex;
	align-items: center;
	border-radius: 20px;
	width: 525px;
	height:50px;
  border: 2px solid black;
}
.ul1>.li1{
	display: inline-block;
	margin-right: 20px;
	padding: 0px 17px; 
	border-right: 1px solid #382c2c;
}
.ul1>.li1>a{
	text-decoration: none;
	color: #666F77;
	font-size: 17px;
	color: grey;

}
.parent{
	display: flex;
	justify-content:space-around;
	padding-top: 20px;
}
.d1{
	margin-right: 250px;
}
.hr1{
	height: 7px;
	background-color:#C7DD55;
}
main{
	height: 450px;
	background: rgb(104,101,101);
background: radial-gradient(circle, rgba(104,101,101,1) 20%, rgba(101,98,98,1) 30%, rgba(97,94,94,1) 39%, rgba(51,49,49,1) 81%, rgba(40,38,38,1) 93%);
}
.img1{
	border-width: 10px;
	border-style: solid;
	border-image: linear-gradient(to right, grey, white) 1;
}
.parent1{
	display: flex;
	justify-content:space-evenly;
}
.p1{
	font-size: 40px;
	color: white;
}
.p2{
	width: 80%;
	color: #8B8C87;
	font-size: 30px;
}
.d2{
	margin-left: 200px;
	margin-top: 50px;
}
.d3{
	margin-left: 150px;
	margin-top: 50px;
}
.btn{
	width: 100px;
	height: 30px;
	background-color: #C7DD55;
	border-radius: 7px;
	margin-top:20px;
}
.href{
	color: black;
}
.p3{
	width: 80%;
	line-height: 20px;
}
.list{
    margin-left: 100px;
}
.ul2{
	line-height: 20px;
	width: 80%;

}
.ul2>li{
	list-style-type:square;
}
.p4{
	line-height: 20px;
}
.vl{
	border-left: 10px solid #C7DD55;
	height:80px;
	margin-top: 30px;

}
.parent2{
	display: flex;
	justify-content: space-between;
}
.p5{
	line-height: 20px;
	width: 80%;
	margin-left: 20px;
	margin-top: 30px;
}
.parent3{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;

}
.d4{
	border:solid;
	border-style: none;
	background-color: #474444;
	width: 400px;
	height: 50px;
}
.d5{
	border:solid;
	border-style: none;
	background-color: #E1E1E1;
	width:400px;
	height: 350px;
}
.parent4{
	display: flex;
	justify-content: space-between;
	padding-bottom: 8px;
	padding-left: 10px;
}

.img2{
	border-width: 5px;
	border-style: solid;
	border-color: white;
	margin-top: 10px;

}

.d6{
	margin-top:10px;
	margin-left: 20px;
}
.parent5{
	margin-right: 150px;
}
.parent6{
	margin-left: 150px;
}
.hr2{
	height: 7px;
	background-color:#C7DD55;
	margin-top: 4px;
}
footer{
	background-color: #242827;
	height: 250px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.h5{
	border-radius: 20px;
	width: 120px;
	/*height:30px;*/
  border: 1px solid black;
  padding-left: 10px;

}
.ul3{
	color: white;
}
.ul3>.li3{
	padding-top: 15px;
}
.li3{
	color: grey;
}
.d7{
	margin-left: 100px;
}
.d8{
	margin-right: 100px;
}